* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Verdana", sans-serif;
    
    
}
.body{
    background-color: beige;

}

.header {
    width: 100%;
    height: 100vh;
}



.side-nav {
    background-color: rgb(24, 161, 210);
    width: 250px;
    height: 100vh;

    top: 0;
    left: 0;
    padding: 20px 30px;
}

.logo {
    display: block;
    padding: 0px;
}

.logo-item {
    width: 200px;
}

/* ✅ Fixed selector */
.nav-links {
    list-style: none;
    position: relative;
}

.nav-links li {
    padding: 15px 0;
}

.nav-links li a {
    text-decoration: none;
    color: white;
    padding: 15px 10px;

    /* makes icon + text stay in same row */
    display: flex;            
}

.nav-links li a i {
    font-size: 20px;
    margin-right: 10px;
    
}
.active{
    background-color: #fff;
    width: 100%;
    height: 40px;
    position: absolute;
    top: 15px;;
    left:0;
    z-index: -1;
    border-radius: 6px;
    box-shadow : 0 5px 10px rgba(255,255,255,0);

}

.nav-links li :hover a{
    color :blueviolet;
    transition :0.3s;

}


