{% extends "layout.html" %}
{% block title %}Expense{% endblock %}
{% block main %}
    <h1>Expense Tracker</h1>
    <form method="post" action="/add-expense">
        <div class="mb-3">
            <label for="amount" class="form-label">Amount:</label>
            <input type="number" class="form-control" id="amount" name="amount" required>
        </div>
        <div class="mb-3">
            <label for="category" class="form-label">Category:</label>
            <input type="text" class="form-control" id="category" name="category" required>
        </div>
       
        <button type="submit" class="btn btn-primary">Add Expense</button>
    </form>
{% endblock %}
