{% extends "layout.html" %}

{% block title %}Income{% endblock %}

{% block main %}
<h1>Track Your Income</h1>
<div>
    <div class="d-flex justify-content-center align-items-center vh-45">
        <div class="card p-4" style="width: 400px; height: auto;">

            <form id="incomeForm" method="post" action="/income">
                <div class="mb-3">
                    <label class="fhead" for="inamt" class="form-label">Income:</label>
                    <input type="number" class="form-control" id="inamt" name="income" required autofocus autocomplete="off">
                </div>
                <div class="mb-3">
                    <select id="source" name="source" required>
                        <option value="" disabled selected>Select Source</option>
                        {% for s in srcs %}
                            <option value="{{ s }}">{{ s }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="d-flex gap-2 mb-3">
                    <input name="date" type="date" value="2025-10-02" required />
                    <button type="submit" class="btn btn-primary mb-3">Add Income <i class="fi fi-rr-check"></i></button>
                </div>
            </form>

        </div>
    </div>
</div>

<div class="tb-container">
    <table class="minimalist-table">
        <thead>
            <tr>
                <th>Source</th>
                <th>Amount</th>
                <th>Date</th>
            </tr>
        </thead>
        <tbody id="incomeTableBody">
            {% for inc in incomes %}

                
                <tr>
                <td>{{ inc.source }}</td>
                <td>{{ inc.amount }}</td>
                <td>{{ inc.date }}</td>
                </tr>
                
            
            {% endfor %}
        </tbody>
    </table>
    <p style ="font-family:cursive;margin-top: 10px;font-size: small; margin-top: 20px;">
        Note: Only the 5 most recent income entries are displayed here.
    </p>

</div>

<script src="{{ url_for('static', filename='js/tbincome.js') }}"></script>

{% endblock %}

